.ContactContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 95vw;
  height: auto;
  max-height: 60vh;
  margin: 5px;
}

.ContactContainer h1 {
  color: var(--main-text-color);
  font-size: 6.4vmin;
  font-family: Playfair, 'Courier New', Courier, monospace;
}

.ContactContainer p {
  color: var(--background-text-color);
  position: absolute;
  right: 5vw;
  bottom: 10vh;
  font-size: 2.5vmin;
}

.ContactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ContactForm div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.ContactForm label {
  color: var(--main-text-color);
}

.ContactForm input {
  width: 60vw;
  height: 5vh;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 2vmin 2vmin;
  padding: 0px 2vmin 0px 2vmin;
  background-color: rgba(255, 255, 255, .45);
  border: 1px solid rgb(128, 128, 128);
}

.ContactForm textarea {
  width: 60vw;
  height: 8vh;
  max-height: 12vh;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 2vmin 2vmin;
  padding: 0px 2vmin 0px 2vmin;
  background-color: rgba(255, 255, 255, .45);
  border: 1px solid rgb(128, 128, 128);
}

.ContactForm button {
  border-radius: 2vmin 2vmin;
  width: fit-content;
  min-width: 5vw;
  background-color: #333333;
  color: white;
  border: 0px;
  transition: box-shadow .5s, transform .5s;
  box-shadow: -.3vmin -.3vmin 0px .1vmin black;
  border: 1px solid black;
  transform: translate3d(0, 0, 0);
}
.ContactForm button:hover {
  box-shadow: -.15vmin -.15vmin 0px  .1vmin black;
  transform: translate(-.15vmin, -.15vmin);
}
.ContactForm button:active {
  box-shadow: 0vmin 0vmin 0px  .1vmin black;
  transform: translate(-.3vmin, -.3vmin);
}

@media only screen and (min-width: 810px) { /*Big Screens*/ 
    .ContactForm label{
      font-size: 3vmin;
    }
    .ContactForm input{
      width: 50vw;
    }
    
    .ContactForm textarea{
      width: 50vw;
    }

    .ContactContainer p {
      font-size: 2vmin;
    }
  }