.ContactContainer {
  padding-bottom: 40px;
}

.ContactContainer p {
  color: var(--background-text-color);
  position: absolute;
  right: 20px;
  bottom: 0px;
  font-size: 2.5vmin;
}

.ContactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ContactForm div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.ContactForm label {
  color: var(--main-text-color);
}

.ContactForm input {
  width: 60vw;
  height: 5vh;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 2vmin 2vmin;
  padding: 0px 2vmin 0px 2vmin;
  background-color: rgba(255, 255, 255, .45);
  border: 1px solid rgb(128, 128, 128);
}

.ContactForm textarea {
  width: 60vw;
  height: 8vh;
  max-height: 12vh;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 2vmin 2vmin;
  padding: 0px 2vmin 0px 2vmin;
  background-color: rgba(255, 255, 255, .45);
  border: 1px solid rgb(128, 128, 128);
}

.ContactForm button {
  margin-top: 10px;
  border-radius: 2vmin 2vmin;
  width: fit-content;
  min-width: 5vw;
  background-color: #333333;
  color: white;
  border: 0px;
  border: 1px solid black;
}

@media only screen and (min-width: 810px) { /*Big Screens*/ 
    .ContactForm label{
      font-size: 3vmin;
    }
    .ContactForm input{
      width: 50vw;
    }
    
    .ContactForm textarea{
      width: 50vw;
    }

    .ContactContainer p {
      font-size: 2vmin;
    }
  }