.ContactContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 95vw;
  height: auto;
  max-height: 60vh;
  margin: 5px;
}

.ContactContainer h1 {
  color: var(--main-text-color);
  font-size: 6.4vmin;
}

.ContactContainer p {
  color: var(--background-text-color);
  position: absolute;
  right: 5vw;
  bottom: 10vh;
  font-size: 2.5vmin;
  font-family: 'Courier New', Courier, monospace;

}

.ContactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ContactForm div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.ContactForm label {
  color: var(--main-text-color);
  font-family: 'Courier New', Courier, monospace;
}

.ContactForm input {
  width: 60vw;
  height: 5vh;
  font-family: 'Courier New', Courier, monospace;
}

.ContactForm textarea {
  width: 60vw;
  height: 8vh;
  max-height: 12vh;
  font-family: 'Courier New', Courier, monospace;
}

.ContactForm button {
  font-family: 'Courier New', Courier, monospace;

}

@media only screen and (min-width: 810px) { /*Big Screens*/ 
    .ContactForm label{
      font-size: 3vmin;
    }
    .ContactForm input{
      width: 50vw;
    }
    
    .ContactForm textarea{
      width: 50vw;
    }

    .ContactContainer p {
      font-size: 2vmin;
    }
  }