/* Current Color Pallette **MAY NEED WORK**
Page Background: #2A0C4E
Component Background: #51355A
*/
@font-face {
  font-family: Delius;
  src: url(../assets/Delius-Regular.ttf);
}

@font-face {
  font-family: SourceSans;
  src: url(../assets/SourceSansPro-Regular.ttf);
}

@font-face {
  font-family: Playfair;
  src: url(../assets/PlayfairDisplay-VariableFont_wght.ttf);
}



*{
  font-family: SourceSans, 'Courier New', Courier, monospace;
  z-index: 10;
  font-weight: 600;
}

.App {
  text-align: center;
}

.FullPage {
  position: relative;
  background-color: var(--main-bg-color);
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.ContentDiv{
  width: 95vw;
  height: 75vh;
}

.ResumeText{
  color: var(--main-text-color);
}

.EasyText{
  font-family: SourceSans, 'Courier New', Courier, monospace;
}

.activeSelector{
  box-shadow: 0vw 0vh 0px  0.1vmin black;
}

.inactiveSelector{
  box-shadow: -.3vmin -.3vmin 0px 0.1vmin black;
  transform: translate(.3vmin, .3vmin);
}

.styledButton{
  box-shadow: -.3vmin -.3vmin 0px 0.1vmin black;
}

.styledButton:hover{
  box-shadow: 0vw 0vh 0px  .1vmin black;
  transition: box-shadow .5s, transform .5s;
  transform: translate(-.3vmin, -.3vmin);
}