/* Current Color Pallette **MAY NEED WORK**
Page Background: #2A0C4E
Component Background: #51355A
*/
@font-face {
  font-family: CrtFont;
  src: url(../assets/Glass_TTY_VT220.ttf);
}

*{
  font-family: CrtFont, 'Courier New', Courier, monospace;
}

.App {
  text-align: center;
}

.FullPage {
  background-color: #1d1d1d;
}

.ContentDiv{
  width: 95vw;
  height: 75vh;
}

.ResumeText{
  color: #FFF8F0;
}

.EasyText{
  font-family: 'Courier New', Courier, monospace;
}