/*Includes Header and Nav Data*/
.ModalArea {
  position: relative;
  padding: 0px;
  margin: 0px;
  display: grid;
  width: 100vw;
  z-index: 1;
  grid-template-columns: [col] 10px [col] 1fr [col] 100px [end];
  grid-template-rows: [row] 1fr [row] 125px [row] 25px [end];
}

.ModalArea.flipped {
  grid-template-columns: [col] 100px [col] 1fr [col] 10px[end];
}

.ContentArea {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  z-index: 3;
  position: relative;
  bottom: 0px;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  width: 100%;
  color: var(--main-bg-color);
  background-color: var(--main-text-color);
  min-width: fit-content;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.ContentArea.flipped {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.circleHolder {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start:2;
  grid-row-end: 4;  
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.circleHolder.flipped {
  grid-column-start: 1;
  grid-column-end: 1;
}


.outerCircle {
  position: relative;
  width: 200%;
  height: 100%;
  margin-top: 25%;
  margin-left: -110%;
  border-radius: 130px 130px 0% 0%;
  background-color: var(--main-text-color);
}

.outerCircle.flipped {
  margin-left: 10%;
}

.innerCircle {
  position: sticky;
  border-radius: 80px 80px 0% 0%;
  background-color: var(--main-bg-color);
  width: 80%;
  height: 80%;  
  top: 90%;
  z-index: 0;
}

.outerCircle.flipped .innerCircle {
  left: 80%;
}
