/*Includes Header and Nav Data*/
.ModalArea {
  position: relative;
  padding: 0px;
  margin: 0px;
  display: grid;
  width: 100vw;
  z-index: 1;
  grid-template-columns: [col] 10px [col] 1fr [col] 100px [end];
  grid-template-rows: [row] 1fr [row] 125px [row] 25px [end];
}

.ModalArea.isMobile{
  grid-template-columns: [col] 10px [col] 100px [col] 1fr [col] 100px [col] 10px [end];
  grid-template-rows: [row] 1fr [row] 125px [row] 35px [end];
}

.ModalArea.flipped {
  grid-template-columns: [col] 100px [col] 1fr [col] 10px[end];
}

.ModalArea.isMobile.flipped {
  grid-template-columns: [col] 10px [col] 100px [col] 1fr [col] 100px [col] 10px[end];
}

.ModalArea.noConnector{
  grid-template-columns: [col] 10px [col] 1fr [col] 10px[end];
}

.ContentArea {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  z-index: 3;
  position: relative;
  bottom: 0px;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  width: 100%;
  border-radius: 0px 20px 20px 20px;
  color: var(--main-bg-color);
  background-color: var(--main-text-color);
  min-width: fit-content;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.ContentArea.flipped {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  border-radius: 20px 0px 20px 20px;
}

.ModalArea.isMobile .ContentArea{
  grid-column-start: 2;
  grid-column-end: 5;
  border-radius: 20px 20px 20px 20px;
}

.ContentArea.noBorder {
  border-radius: 20px 20px 20px 20px;
}

.innerContentArea{
  width: 100%;
  height: 100%;
  background-color: var(--modal-bg-color);
  color: var(--main-text-color);
  border-radius: 20px;
}

.circleHolder {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start:2;
  grid-row-end: 4;  
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.ModalArea.isMobile .circleHolder{
  grid-column-start: 4;
  grid-column-end: 5;

}

.circleHolder.flipped {
  grid-column-start: 1;
  grid-column-end: 1;
}

.ModalArea.isMobile .circleHolder.flipped{
  grid-column-start: 1;
  grid-column-end: 3;
}

.outerCircle {
  position: relative;
  width: 200%;
  height: 100%;
  margin-top: 25%;
  margin-left: -110%;
  border-radius: var(--border-radius) var(--border-radius) 0% 0%;
  background-color: var(--main-text-color);
}

.ModalArea.isMobile .circleHolder .outerCircle{
  border-radius: 0%;
  margin-left: -140%;
}

.outerCircle.flipped {
  margin-left: 10%;
}

.ModalArea.isMobile .circleHolder .outerCircle.flipped{
  margin-left: 40%;
}

.innerCircle {
  position: sticky;
  border-radius: var(--border-radius) var(--border-radius) 0% 0%;
  background-color: var(--main-bg-color);
  width: 80%;
  height: 80%;  
  top: 78%;
  z-index: 0;
}

.ModalArea.isMobile .circleHolder .outerCircle .innerCircle{
  border-radius: 0%;
}

.outerCircle.flipped .innerCircle {
  left: 80%;
}
