.FooterContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.FooterContainer button{
    width: 45px;
    height: 45px;
    border-style: none;
    background-color: unset;
}

.FooterContainer button img{
    color: '';
}