.FooterContainer{
    width: 100vw;
    height: 15vh;
    margin: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 4px solid var(--main-border-color);
    background-color: var(--main-bg-color);
}

.FooterContainer button{
    width: 45px;
    height: 45px;
    border-style: none;
    background-color: unset;
}

.FooterContainer button img{
    color: '';
}