.gradientContainer {
  width: 100%;
  height: 100%;
  background-size: cover;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  mask: linear-gradient(to right, rgb(100% 100% 100% / 1) 10%, rgb(100% 100% 100% / 0.05), rgb(100% 100% 100% / 1) 90%);
}
