.header{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1{
  text-align: right;
  font-size: 2.5rem;
  color: var(--main-text-color);
  margin-bottom: 20px;
  margin-right: 20px;
}

@media only screen and (min-width: 810px) {
  .header h1{
    text-align: left;
    font-size: 2.5rem;
    margin-right: 0px;
    font-size: 4.5rem;
  }
}