.header{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1{
  position: relative;
  font-size: 1fr;
  min-width: fit-content;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}