/*Includes Header and Nav Data*/
.HeaderArea {
  position: relative;
  padding: 0px;
  margin: 0px;
  display: flex;
  width: 100vw;
  height: 14vmin;
  z-index: 2;
}

.header1 {  
  z-index: 0;
  position: relative;
  margin: 0px;
  font-size: 20px;
  color: var(--main-bg-color);
  min-width: fit-content;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}