.header{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1{
  font-size: 3.5cqmax;
  color: var(--main-text-color);
  margin-bottom: 2vh;
  font-family: Playfair, 'Courier New', Courier, monospace;
}