/*Includes Header and Nav Data*/
.HeaderArea {
  position: relative;
  padding: 0px;
  margin: 0px;
  display: flex;
  width: 100vw;
  height: 12vmin;
  z-index: 2;
}

.header1 {  
  z-index: 0;
  position: relative;
  bottom: 0px;
  margin: 0px;
  padding: 10px;
  font-size: 40px;
  height: 10vmin;
  color: var(--main-bg-color);
  background-color: var(--main-text-color);
  min-width: fit-content;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#circleHolder{
  z-index: -1;
  position: relative;
  width: 20vmin;
  height: 100%;  
  margin-top: 3vmin;
}

#quarterCircle{
  z-index: -3;
  margin-left: -10vw;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  border: 10vw solid var(--main-text-color);
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  border-bottom: 0;
  border-left: 0;
  border-top: 0;
  width: 20vw;
  height: 10vw;
}
#blockingCircle{
  z-index: -2;
  margin-left: -5vw;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  border: 10vw solid var(--main-bg-color);
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  border-bottom: 0;
  border-left: 0;
  border-top: 0;
  width: 12vw;
  height: 7.5vw;
}

.NavBar {
  position: relative;
  display: flex;
  width: fit-content;
  height: fit-content;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}

.NavBar a {
  display: flex;
  align-items: center;
  margin-left: 0.8vw;
  padding-right: 2vw;
  margin-top: 0.2vh;
  text-align: right;
  font-size: 3vw;
  font-weight: 600;
  font-family: Playfair, 'Courier New', Courier, monospace;
  text-decoration: none;
  width: fit-content;
  transition: color .5s, background-position 1s;
  background-image: linear-gradient(
    -225deg,
    var(--nav-first-color) 0%,
    var(--nav-first-color) 35%,
    var(--nav-second-color) 38%,
    var(--nav-third-color) 45%
  );
  /*background-color: var(--main-text-color);*/
  background-size: auto auto;
  background-clip: border-box;
  background-size: 250% auto;
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.NavBar a:after{
  position: relative;
  content:"";
  width: 1px;
  height: 1.3vmax;
  margin-left: 2vw;
  border-right: solid 1px var(--main-border-color);
}

.TextNormal {
  color: var(--main-text-color);
}

.TextNormal:hover {
  background-position: 40% center;
  color: var(--text-highlight-color);
}

.TextSelected {
  background-position: 80% center;
}

.TextSelected:hover {
  background-position: 80% center;
}

@media only screen and (min-width: 891px) { /*Big Screens*/
  .HeaderArea{
    width: 100vw;
    min-height: 70px;
  }

  .NavBar {
    position: absolute;
    height: fit-content;
    top: 1vmin;
    right: 2.5vw;
    flex-direction: column;
  }

  .NavBar a {
    font-size: 2vmin;
    margin-top: 0;
    border-right: none 1px var(--main-border-color);
  }

  .NavBar a:after{
    border-right: none;
  }
}
