.MovementPlatform{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 0;
}

.movingDot{
    position: relative;
    border-radius: 50%;
    z-index: 0;
    position: absolute;
    transition: left 2s, top 2s;
    transition-timing-function: linear;
}
