.MovementPlatform{
    width: 100%;
    height: 100%;
    overflow: hidden;
    scroll-behavior: unset;
    z-index: 0;
}

.movingDot{
    position: relative;
    border-radius: 50%;
    z-index: 0;
    position: absolute;
    transition: left 2s, top 2s;
    transition-timing-function: linear;
}
