.navBar {
  width: 100%;
  height: 44px;
  z-index: 2;
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
}

.content {
  z-index: 1;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  color: var(--main-text-color);
  margin: 2px;
  margin-right: 10px;
}

.content button {
  background: none;
  border: none;
  width: fit-content;
  color: var(--main-text-color);
  font-size: 0.9rem;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

.frostedGlass {
  z-index: 0;
  position: absolute;
  inset: 0;
  height: 200%;
  backdrop-filter: blur(10px);
  mask-image: linear-gradient(to bottom, black 0%, black 50%, transparent 50%);
}

@media only screen and (min-width: 810px) {
  /*Big Screens*/
  .content{
    margin: 10px;
    width: fit-content;
    margin-right: 50px;
  }
  .content button {
    font-size: 1.75rem;
  }

  .navBar {
  height: 64px;
  }
}
