/*:root {
  --main-bg-color: #1d1d1d;
  --main-border-color: #fff8f0;
  --main-text-color: #fff8f0;
  --alt-text-color: #FFFFFF;
  --nav-selected-color: rgb(176, 179, 0);
  --text-highlight-color: #e9e1d8;
  --background-text-color: #fff8f09c;
}*/

:root{
  --main-bg-color: #202020;
  --main-border-color: #969A97;
  --modal-bg-color: #2C4DDE;
  --main-text-color: whitesmoke;
  --alt-text-color: #d3d3d3;
  --nav-first-color: #3d3f3d;
  --nav-second-color: #e4e6d2;
  --nav-third-color: #da20d0;
  --text-highlight-color: #7f837f;
  --background-text-color: #7c7b7a;
  --border-radius: 100px;
}
/*  --main-bg-color: #dddddd;
  --main-border-color: #08070a;
  --main-text-color: #08070a;
  --alt-text-color: #FFFFFF;
  --nav-selected-color: rgb(143, 0, 179);
  --text-highlight-color: #604570;
  --background-text-color: #5858579c;*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-color);
  height: fit-content;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#FullPage{
  display: relative;
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
}

.background{
  margin-top: -64px;
  margin-left: -16px;
  opacity: 20%;
  z-index: 0;
  width: calc(100% + 128px);
  height: calc(100% + 128px);
  position: fixed;
  background-image: url(./assets/background.svg);
  background-repeat: round;
  background-size: 256px 256px;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: fit-content;
  margin: 0px;
}

.sectionHeader{
  font-size: 5cqmax;
  color: var(--main-text-color);
  margin-bottom: 2vh;
  font-family: Playfair, 'Courier New', Courier, monospace;
}

@media only screen and (min-width: 810px) { /*Big Screens*/
    .sectionHeader {
        font-size: 5vmin;
    }
}