:root {
  --main-bg-color: #1d1d1d;
  --main-border-color: #fff8f0;
  --nav-highlight-color: rgb(176, 179, 0);
  --main-text-color: #fff8f0;
  --text-highlight-color: #e9e1d8;
  --text-selected-color: #dbd35a;
  --background-text-color: #fff8f09c;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
