.AboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 65vh;
  margin: 5px;
}

.AboutContainer h3 {
  font-size: 7vmin;
  font-family: 'Courier New', Courier, monospace;
  color: #fff8f0;
  margin-bottom: 2vh;
}

.AboutContainer p {
  color: #fff8f0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3.5vmin;
}

@media only screen and (min-width: 810px) { /*Big Screens*/
    .AboutContainer h3 {
        font-size: 5vmin;
    }
    .AboutContainer p{
        font-size: 2.7vmin;
      }
}
