/*.AboutContainer h1:after {
  display: inline-block;
  position: relative;
  content: "";
  right: -2vw;
  top: 3.5vmin;
  background: url('../../assets/me.jpg') no-repeat;
  background-size: 110%;
  border-radius: 50%;
  background-position: 50% 30%;
  border: 2px var(--main-border-color) solid;
}*/


.AboutContainer p {
  color: var(--main-text-color);
  width: 100%;
}

@media only screen and (min-width: 810px) { /*Big Screens*/
    .AboutContainer h1:after {
      width: 8vmin;
      height: 10vmin;
    }
    .AboutContainer p{
        font-size: 1cqmax;
    }
}
