#PortfolioContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.projectItem{
  width: 100%;
  display: block;
}

.projectPicture{
  float: left;
  height: 10vmin;
  width: auto;
}

.projectTitle{

}

.projectSummary{

}