.PortfolioContainer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 65vh;
}

.SelectorContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 85vw;
  height: 5vh;
}

.SelectorBorder {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1vw;
  width: auto;
  height: 5vh;
  overflow: hidden;
  border: 1px black solid;
  border-radius: 30%;
  box-shadow: 1 1;
}

.SelectorImg {
  height: 5vh;
}

.ProjectDisplay {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  width: 95%;
  justify-content: center;
}

.ProjectDisplayName {
  font-size: 7vmin;
  height: 5vh;
  font-family: 'Courier New', Courier, monospace;
  color: #fff8f0;
  text-align: center;
}

#ProjectContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 98vw;
  height: 50vh;
  overflow: hidden;
  margin-top: 2vh;
}

#ProjImg {
  width: 90%;
  height: auto;
}

#ProjDesc{
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  height: 90%;
  border: 1px dotted #fff8f0;
  border-radius: 2%;
  color: #fff8f0;
}

.ButtonContainer{
  justify-self: end;
  display: flex;
  width: 80%;
  margin: 1vmin;
  flex-direction: row;
  justify-content: space-around;
}

.ButtonContainer button {
  width: max-content;
  padding-right: 10px;
  padding-bottom: 3px;
  border-radius: 50%;
  background-color: #333333;
  color: #fff8f0;
  font-family: 'Courier New', Courier, monospace;
}

.FlipOut{
  animation-name: flipOut;
  animation-duration: 1s;
}

.FlipIn{
  animation-name: flipIn;
  animation-duration: 1s;
}

@keyframes flipOut{
  0%{transform: rotate3d(1, 0, 0, 0deg)}
  100%{transform: rotate3d(1, 0, 0, 90deg)}
}
@keyframes flipIn{
  0%{transform: rotate3d(1, 0, 0, 90deg)}
  100%{transform: rotate3d(1, 0, 0, 0deg)}
}

@media only screen and (min-width: 891px) { /*Big Screens*/
  .PortfolioContainer {
    flex-direction: row;
    align-items: center;
  }

  .SelectorContainer {
    flex-direction: column;
    width: 12vw;
    height: 65vh; /*60*/
  }

  .SelectorBorder {
    width: 9vw;
    height: auto;
    overflow: hidden;
  }

  .SelectorImg {
    width: 11vw;
    height: auto;
    max-height: 12vh;
  }

  .ProjectDisplay {
    height: 64vh;
  }

  #ProjectContentContainer {
    width: 60vw;
    height: 60vh;
    padding: 2vmin;
    margin-top: 0vh;

  }

  .ProjectDisplayName {
    font-size: 38px;
  }
}