#PortfolioContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ProjectsContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 15px;
}

.projectItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.projectPicture {
  border-radius: 20px;
  height: 100px;
  width: auto;
  margin-right: 10px;
}

.mobile .projectPicture {
  width: 75%;
  height: auto;
}

.titleButtonBox {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 4px 0px;
}

.titleButtonBox button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}


.projectTitle {
  padding-left: 0px;
  text-align: center;
  margin: 0px;
}

.projectSummary {
  padding-left: 0px;
  text-indent: 10px;
}

@media only screen and (min-width: 810px) {
  /*Big Screens*/
  #ProjectsContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    row-gap: 10px;
  }
  .projectItem {
    display: block;
    margin-bottom: 10px;
  }
  .projectPicture {
    float: left;
    height: 10vmin;
    margin-top: 10px;
  }
  .projectSummary {
    padding-left: 20px;
    text-indent: 0px;
  }
  .projectTitle {
    padding-left: 10px;
    text-align: left;
  }
}
